.idea
db.sqlite3
events-env
*.pyc
/environment/development/.env
/environment/development/.env.db
/environment/development/.env.pgadmin
request.json
request_dump.json
dump.rdb
environment/development
environment/production
theatreevents/static/
*.__pycache__
devenv
venv